@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
		font-size: 16px;
		font-weight: 700;
		color: #1d1d1f;
	}
}

@layer components {
	.headerContainer-reponsive {
		@apply tablet:mx-9 mobile:mx-6;
	}
}
/* @layer components {
	.article-heading {
		font-size: 44px;
		font-weight: 900;
	}
	.project-heading {
		font-size: 40px;
		font-weight: 800;
	}
	.project-subHeading {
		font-size: 20px;
		font-weight: 700;
	}
	.description-heading {
		font-size: 24px;
		font-weight: 700;
	}
} */
